@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
  background-color: #161622;
  align-items: center;
  color: #d3daff;
  display: flex;
  font-family: 'ComicShannsMono Nerd Font', 'Ubuntu Mono', monospace;
  font-size: 27.5px;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em;
  padding: 1em;
}

button {
  background-color: #ffffff00;
  border: none;
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: #8e91e6;
  grid-column: 1/-1;
}

h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
  color: #8e91e6;
  grid-column: 1/-1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #a9b1d6;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 0 1em;
  width: 100%;
  max-width: 600px;
  padding: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0 1em 1.5em 1em;
  padding: 0;
  white-space: nowrap;
  text-align: left;
}

li:first-child {
  font-weight: bold;
  line-height: 2em;
  color: #8e91e6;
}

img {
  border: 3px solid #d3daff;
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  max-width: 75%;
  width: 10em;
  margin-left: 3em;
}

/* input {
  background-color: unset;
  font: 16px 'Ubuntu Mono', monospace;
  color: #ebdbb2;
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ff9e64;
  text-align: center;
  margin-top: 50px;
  outline: 0;
  padding-bottom: 0.5em;
} */

/* Media queries for responsiveness */
@media (min-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 2.5em;
  }

  img {
    width: 18em;
  }
}

@media (min-width: 1024px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
  }

  h1 {
    font-size: 3em;
  }

  img {
    width: 18em;
  }
}